<!--comments-new.ejs-->
<% include ../partials/header %>

<style>
    body {
        min-height: 75rem;
        padding-top: 4.5rem;
        color:purple;
}
</style>

<div class="container">
    <h1  class="text-center">Add new comment to <%=campground.name%> </h1>
    <div style="width:30%; margin: 25px auto">
        <!--form-group for form spacing-->
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">  
                    <input class="form-control" type="text" placeholder="author" name="comment[author]">
                </div>
                 <div class="form-group">  
                    <input class="form-control" type="text" placeholder="text" name="comment[text]">
                </div>
                <div class="form-group">  
                    <button href="/" class="btn btn-primary btn-block" name="submit">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Back</a> 
       </div>
    </div>
       
</div>


<% include ../partials/footer %>