<% include partials/header%>
<h1>The Posts Page</h1>
    
<%  posts.forEach(function(posts){ %>
    
        <li>
            <%=posts.title%> - <strong><%=posts.author%></strong>
        </li>
<% })%>

<% include partials/footer%>